/*!
 * CHS Style Sheet
 * Extra formatting
 */
 
 /* About style profiles */
 * {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.card {
    margin: auto;
    text-align: center;
    color: slategrey;
}

.name {
    color:purple;
}

/* The grid: Equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.containerTab {
    padding: 10px;
    color: slategrey;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Closable button inside the container tab */
.closebtn {
    float: right;
    color: slategrey;
    font-size: 35px;
    cursor: pointer;
}